.botao {
    margin-top: 30px;
    color: #FFF;
    font-size: 16px;
    background-color: #6278F7;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.botao:hover {
    color: #95FFD4;
}